{% extends "layout.html.twig" %}


{% block content %}
    <div class="jumbotron">
        <h1>OcTower <small>Easily Manage your deployments</small></h1>
        <p class="lead">TODO : presentation</p>
    </div>

    <footer>
        <p>Octower was created by <a href="http://william-pottier.fr/">William Pottier</a> and include many <a href="https://github.com/octower/octower/graphs/contributors">community contributions</a>.</p>
        <p class="license">OcTower and all content on this site are released under the <a href="https://github.com/octower/octower/blob/master/LICENSE">MIT license</a>.<p>
        <p>This website and OcTower includes somme source code from the <a href="http://getcomposer.org">Composer project and website</a></p>
    </footer>
{% endblock %}