{% extends "layout.html.twig" %}


{% block content %}
    <div class="jumbotron">
        <h1>OcTower <small>Easily Manage your deployments</small></h1>
        <p class="lead">TODO : presentation</p>
    </div>
{% endblock %}
