{% extends "layout.html.twig" %}


{% block content %}
    <div class="jumbotron">
        <h1>Octower <small>Easily Manage your deployments</small></h1>
        <p class="lead">Octower will help you to manage your deployment to multiple platform and servers like a boss.</p>
    </div>
{% endblock %}

{% block footer_content %}
<p>(test)Octower was created by <a href="http://twitter.com/wizad">William Pottier</a> and include some <a href="https://github.com/octower/octower/graphs/contributors">community contributions</a>.</p>
{% endblock %}
